* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

$cor-1: pink;
$cor-2: orangered;
$cor-3: rgb(14, 29, 119);
$bg-1: rgba(10, 16, 46, 0.144);

.container {
    margin-left: 10%;
    width: 80%;
    background-color: #fff;
}

.class0 {
    align-items: center;
    background-color: $bg-1;
    color: $cor-1;
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
    h1 {
        background-color: whitesmoke;
    }
}

.class1 {
    align-items: center;
    background-color: $cor-1;
    color: $bg-1;
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
    h5 {
        background-color: inherit;
    }
}

.class2 {
    align-items: center;
    background-color: $bg-1;
    display: flex;
    color: $cor-1;
    height: 10vh;
    justify-content: center;
    width: 100%;
    h1 {
        background-color: whitesmoke;
    }
}

.class3 {
    align-items: center;
    background-color: $cor-1;
    color: $bg-1;
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
    h5 {
        background-color: inherit;
    }
}